@import "variables";
@import "mixin";
* {
    box-sizing: border-box;
}

ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
        a{
            text-decoration: none;
        }
    }
}
a {
    text-decoration: none;
}
body {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    padding: 15px 0;
        .menu {
            @include flex (null, space-between, flex-start);
                .menu-links {
                    margin-top: 75px;
                    display: none;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    align-self: flex-end;
                    li:not(:first-child) {
                        margin-top: 50px;
                    }
                    .link {
                        font-weight: 500;
                        font-size: 35px;
                        color: $title;
                    }
                    .demo {
                        @include flex (null, space-between, center);
                        width: 210px;
                        height: 60px;
                        padding: 17px 29px;
                        margin-top: 100px;
                        box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
                        border-radius: 50px;
                        font-weight: bold;
                        font-size: 16px;
                        color: $title;
                    }
                }
        }
        .header-content {
            margin-top: 80px;
            .header-image {
                .img {
                    max-width: 100%;
                }
            }
            .header-text {     
                .title {
                    font-weight: bold;
                    font-size: 45px;
                    line-height: 110%;
                    color: $title;
                }
                .text {
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 160%;
                }
                .more {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 150px;
                    height: 50px;
                    margin: 35px auto;
                    border-radius: 50px;
                    background-color: $purple;
                    color: #fff;
                    font-weight: 500;
                    font-size: 15px;
                }
            }
        }
}
.main {
    height: 2900px;
    .about-us {
        @include flex (column, space-between, null);
        padding: 0 18px 90px 18px;
        background: rgba(240, 99, 184, 0.15);
        border-radius: 45px;
            .about-img {
                .img {
                    max-width: 100%;
                }
            }
            .about-text {
                .title {
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 130%;
                    color: $title;
                }
                .subtitle {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 160%;
                    color: $text;
                }
            }
    }
    .features {
        .title-text {
            text-align: center;
            .title {
                font-weight: bold;
                font-size: 30px;
                line-height: 130%;
                color: $title;
            }
            .subtitle {
                font-weight: 500;
                font-size: 18px;
                line-height: 160%;
                color: $text;
            }
        }
        .items {
            @include flex (column, null, flex-end);
            .item {
                @include flex (null, flex-end, center);
                position: relative;
                margin-top: 50px;
                padding-right: 13px;
                width: 93%;
                max-width: 346px;
                height: 270px;
                background-size: 100% 100%;
                    &.search {
                        background: url(../images/search-bg.png) no-repeat;
                    }
                    &.access {
                        background: url(../images/access-bg.png) no-repeat;
                    }
                    &.print {
                        background: url(../images/print-bg.png) no-repeat;
                    }
                    &.security {
                        background: url(../images/security-bg.png) no-repeat;
                    }
                    .item-img {
                       position: absolute; 
                       left: -10%;
                       width: 39.3%;
                        .img {
                            max-width: 100%;
                        }
                    }
                    .text {
                        max-width: 65%;
                        .title {
                            font-size: 1.25rem;
                            font-weight: normal;
                            color: $title;
                            margin: 0;
                        }
                        .subtitle {
                            font-weight: 500;
                            font-size: .8125rem;
                            line-height: 160%;
                            margin: 10px 0;
                        }
                        .more {
                            display: flex;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 160%;
                            color: $title;
                                .line {
                                    margin-left: 10px;
                                }
                        }
                    }
            }
        }
    }
    .slider {
        margin-top: 45px;
        @include flex (column, space-between, null);
        position: absolute;
        left: 0;
        width: 100%;
        height: 440px;
        background-color: $purple;
        padding: 25px 0;
        border-radius: 50px;
        padding: 25px 0;
            .title {
                margin: 0;
                font-weight: bold;
                font-size: 30px;
                color: #fff;
                text-align: center;
            }
            .slide {
                @include flex (column, center, flex-end);
                max-width: 345px;
                height: 220px;
                box-shadow: 0px 20px 0px rgb(140, 84, 218);
                background-color: #fff;
                border-radius: 20px;
                position: relative;
                padding-right: 25px;
                margin-left: 15px;
                    .photo_about {
                        position: absolute;
                        top: 30px;
                        left: 15px;
                    }
                    .about-text {
                        @include flex (column, space-between, null);
                        max-width: 225px;
                            .text__title {
                                font-weight: 500;
                                font-size: 18px;
                                margin: 0;
                            }
                            .link {
                                margin: 5% 0 10% 0;
                                font-weight: 500;
                                font-size: 14px;
                                color: $purple;
                            }
                            .text {
                                font-weight: 500;
                                font-size: 11px;
                                line-height: 180%;
                                color: $text;
                                margin: 0;
                            }
                    }
            }
            .navigation {
                @include flex (null, space-between, null);
                padding: 0px 12%;
                .pagination {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 55px;
                    .round {
                        width: 5px;
                        height: 5px;
                        background-color: #fff;
                        border-radius: 5px;
                        &.active {
                            width: 10px;
                            height: 10px;
                            background-color: #F063B8;
                        }
                    }
                }
                .controls {
                    width: 80px;
                    display: flex;
                    justify-content: space-between;
                }
            }
    }   
}
.footer {
    border-top: 3px solid rgba(156, 105, 226, 0.15);
    position: absolute;
    width: 100%;
    left: 0;
    padding: 55px 15px 10px 15px;
    .try-free {
        .text {
            text-align: center;
            .title {
                font-weight: bold;
                font-size: 30px;
                line-height: 130%;
                color: $title;
                margin: 0;
            }

            .subtitle {
                margin-top: 10px;
                font-weight: 500;
                font-size: 18px;
                line-height: 160%;
                color: $text;
            }
        }
        .links {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            .link {
                @include flex (null, center, center);
                padding: 20px 35px;
                border-radius: 50px;
                font-weight: 500;
                font-size: 16px;
            }
            .more {
                background-color: #F063B8;
                color: #fff;
            }
            .demo {  
                box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
                color: $title;
                .arrow {
                    margin-left: 5px;
                }             
            }
        }
    }
    .menu {
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: $title;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .info {
            .title {
                font-style: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                    .logo {
                        width: 50px;
                        margin-right: 20px;
                    }
            }
        }
        .about, .help {
            width: 50%;
            .link {
                font-weight: 500;
                color: $title;
            }
        }
        .social {
            margin-top: 50px;
            .links {
                display: flex;
                .li:not(:first-child):not(:last-child) {
                    margin: 0 15px;
                }
            }
        }
    }
    .about-developers {
        font-weight: 500;
        font-size: 12px;
        line-height: 180%;
    }
}